rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isSuperAdmin() {
      return isAuthenticated() && 
        (
          request.auth.token.email == "unnati.finance2026@gmail.com" || 
          request.auth.token.email == "arun2102000@gmail.com" ||
          request.auth.token.email == "arun.cse.rymec@gmail.com" ||
          request.auth.uid == "aTG3MEJf2dPCNWEV6jYGaZXx6RD3" ||
          request.auth.uid == "LckmqupxqXfZ2gtrRU4m5gySmjm1"
        );
    }

    function isAdmin() {
      return isSuperAdmin() || 
        (
          isAuthenticated() && 
          exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'
        );
    }

    function isOwner(userId) {
      return isAuthenticated() && (request.auth.uid == userId || request.auth.token.email == userId);
    }

    // Rules
    match /users/{userId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow update: if isSuperAdmin() || isOwner(userId) || (isAdmin() && (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['role', 'displayName', 'phoneNumber', 'joinDate', 'email', 'uid'])));
      allow delete: if isAdmin();
    }

    match /notices/{noticeId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /notifications/{notificationId} {
      allow read: if isAdmin() || (isAuthenticated() && (resource.data.userId == request.auth.uid || resource.data.userId == request.auth.token.email));
      allow create: if isAuthenticated();
      allow update, delete: if isAdmin() || (isAuthenticated() && (resource.data.userId == request.auth.uid || resource.data.userId == request.auth.token.email));
    }

    match /contributions/{contributionId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow update, delete: if isAdmin();
    }

    match /loans/{loanId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAdmin() || (isAuthenticated() && resource.data.userId == request.auth.uid);
      allow delete: if isAdmin();
    }

    match /loanPayments/{paymentId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update, delete: if isAdmin();
    }
    
    match /admins/{adminId} {
      allow read: if isAuthenticated();
      allow write: if isSuperAdmin();
    }
  }
}
